# Python
__pycache__/
*.pyc
*.pyo

# Environments
.env
venv/
env/

# Dependencies
node_modules/

# Models
*.h5
*.keras

# Data
data/processed/

# IDEs
.DS_Store
.idea/
.vscode/

# Explicitly allowed
!outputs/*.json
!outputs/*.png
!README.md
